.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
#city1 {
  background-color: rgb(127, 22, 3);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
#city2 {
  background-color: rgb(64, 6, 6);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
#city3 {
  background-color: rgb(236, 155, 140);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
#city4 {
  background-color: rgb(103, 98, 97);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
#city5 {
  background-color: rgb(75, 50, 46);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}